In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/are-your-employees-burning-out/train.csv
/kaggle/input/are-your-employees-burning-out/test.csv
/kaggle/input/are-your-employees-burning-out/sample_submission.csv

In [3]:
Employee_burnout_filepath = '/kaggle/input/are-your-employees-burning-out/train.csv'

Employee_burnout_data = pd.read_csv(Employee_burnout_filepath)

Employee_burnout_data.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36
2,fffe31003300320037003900,2008-03-10,Female,Product,Yes,2.0,NaN,5.8,0.49
3,fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20
4,fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52

In [4]:
Employee_burnout_data.columns= Employee_burnout_data.columns.str.replace(" ", "_")     # Replace columns names with underscore

Employee_burnout_data = Employee_burnout_data.dropna(axis=0)

In [5]:
Employee_burnout_data.columns   #to get the column names in data set

Index(['Employee_ID', 'Date_of_Joining', 'Gender', 'Company_Type',
       'WFH_Setup_Available', 'Designation', 'Resource_Allocation',
       'Mental_Fatigue_Score', 'Burn_Rate'],
      dtype='object')

In [6]:
y = Employee_burnout_data.Burn_Rate #selecting the prediction target
#selecting features
Employee_features = [ 'Designation', 'Resource_Allocation',
       'Mental_Fatigue_Score']                   
X=Employee_burnout_data[Employee_features]
X.describe()

        Designation  Resource_Allocation  Mental_Fatigue_Score
count  18590.000000         18590.000000          18590.000000
mean       2.179398             4.486552              5.732173
std        1.133148             2.044848              1.920547
min        0.000000             1.000000              0.000000
25%        1.000000             3.000000              4.600000
50%        2.000000             4.000000              5.900000
75%        3.000000             6.000000              7.100000
max        5.000000            10.000000             10.000000

In [7]:
#create a model,fit a model, predict values
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
Emp_burnout_model = DecisionTreeRegressor()
Emp_burnout_model.fit(train_X,train_y)
val_prediction = Emp_burnout_model.predict(val_X)
print(r2_score(val_y, val_prediction))

0.9215246362242852